html {
  scroll-behavior: smooth;
}

.bg-diamonds-gray {
  background-image: url("./assets/diamonds.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-diamonds-transparent {
  background-image: url("./assets/diamonds2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-poly-dark {
  background-image: url("./assets/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-quotes {
  background-image: url("./assets/quotes-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-contacts {
  background-image: url("./assets/contacts-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-footer {
  background-image: url("./assets/footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;
}

.bg-card {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.bg-card:hover {
  background-color: #b5fffc;
}

.bg-card-button {
  background-color: #ffdee9;
  background-image: linear-gradient(270deg, #ffdee9 0%, #b5fffc 100%);
}

.bg-main-button {
  background-color: #d9afd9;
  background-image: linear-gradient(90deg, #d9afd9 68%, #97d9e1 100%);
}

.text-title {
  color: #666666;
  background-image: -webkit-linear-gradient(
    45deg,
    #666666 23%,
    #999999 69%,
    #aaaaaa 95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.soft {
  transition: 0.3s;
}
